body {
    background: #0A2A56;
    font-family: sans-serif;
    margin: 0;
    padding: 40px 0;
    justify-content: center;
}

.contenedor-principal {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    max-width: 1100px;
    margin-top: 50px;
    margin-left: 190px;
}

.plan-basic {
    background: #fff;
    width: 280px;
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
}

.plan-pro {
    background: #fff;
    width: 280px;
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 480px;
    background: #5933b8;
    color: #fff;
    padding-top: 50px;
}

.plan-enterprise {
    background: #fff;
    width: 280px;
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
}

header {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    font-size: 12px;
    margin: 15px 10px 25px 20px;
}

hr {
    border: none;
    height: 2px;
    background: #ccc;
    margin: 20px 0;
}

h3 {
    margin: 0;
    font-size: 22px;
    text-align: center;
}

.price {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0 25px;
}

.price span {
    font-size: 14px;
    font-weight: normal;
}

.check ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.check ul li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 12px;
}

.check ul li::before {
    content: "✔";
    color: #2ecc71;
    margin-right: 8px;
    font-size: 14px;
}

.check ul li.disabled {
    opacity: .4;
}

.check ul li.disabled::before {
    content: "✔";
    color: #aaa;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    margin-top: auto;
}

.btn.purple {
    background: #6d41d9;
    color: #fff;
}

.btn.purple:hover {
    background: #5933b8;
}

.btn.white {
    background: #fff;
    color: #6d41d9;
    border: 2px solid #6d41d9;
}

.btn.white:hover {
    background: #6d41d9;
    color: #fff;
}

.plan-pro ul li::before {
    color: #2ecc71;
}

.plan-pro .price span {
    color: #ddd;
}

.plan-pro .btn.white {
    background: #fff;
    color: #5933b8;
}

.plan-pro .btn.white:hover {
    background: #eee;
}

.badge {
    position: absolute;
    top: 10px;
    width: 230px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFEB3B;
    text-align: center;
    color: #000;
    font-size: 12px;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
}

@media (max-width: 850px) {
    .contenedor-principal {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .plan-basic,
    .plan-pro,
    .plan-enterprise {
        width: 100%;
        max-width: 350px;
        /* evita que se estiren demasiado */
    }
}