* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
}

.header-container {
    display: flex;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: black;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-align: left;
}

.content {
    max-width: 1200px;
    margin: 40px auto;
}

h1 {
    color: black;
    margin-bottom: 20px;
    text-align: left;
}

@media (max-width: 600px) {
    .nav-menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        z-index: 100;
        gap: 0;
    }
    .nav-menu li {
        margin: 15px 0;
        width: 100%;
        text-align: left;
    }
    .nav-menu a {
        display: block;
        padding: 10px;
        width: 100%;
        text-align: left;
    }
    .hamburger {
        display: flex;
    }
    #menu-checkbox:checked~.nav-menu {
        max-height: 300px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
}